header.header.shadow.align-items-center
  input#navigation__collapse.navigation__collapse.hidden(type="checkbox" name="navigation__collapse")
  label.navigation__collapse_label(for="navigation__collapse")
    span.navigation__collapse_label_text
      | toggle navigation visibility
  nav.navigation
  h1.header__title
    | CodeJam - Animation Player
  button.menu__collapse
    span
      | toggle navigation visibility
