.palette-body{
  height: calc(100% - 3rem);
  display: flex;
  padding: 0.625rem 0;
}

.instruments-wrapper,
.frames-carousel-wrapper,
.preview-wrapper{
  flex-shrink: 0;
}

.instruments-wrapper{
  max-width: 6.25rem;
}

.frame-wrapper{
  flex: 1;
  background-color: #cccccc;
}

.preview-wrapper{
  width: 13.75rem;
  padding: 0 0.625rem;
}
