:root {
  --light-blue-btn-bg: linear-gradient(90deg, #35bbe0 0%,#5e7bea 100%);
  --light-blue-shadow:  
    0 7px 9px 0 rgba(26, 230, 218, 0.15),
    0 13px 21px 0 rgba(26, 230, 218, 0.27), 
    0 13px 21px 0 rgba(0, 0, 0, 0.15), 
    0 4px 16px 0 rgba(26, 230, 218, 0.33), 
    0 4px 16px 0 rgba(0, 0, 0, 0.09), 
    0 3px 9px 0 rgba(26, 230, 218, 0.09), 
    0 3px 9px 0 rgba(0, 0, 0, 0.09), 
    0 3px 3px 0 rgba(26, 230, 218, 0.09), 
    0 3px 3px 0 rgba(0, 0, 0, 0.17);
  --light-blue-shadow-hover:  
    0 0px 7px 0 rgba(95, 47, 106, 0.25),
    0 7px 9px 0 rgba(26, 230, 218, 0.15),
    0 13px 21px 0 rgba(26, 230, 218, 0.27), 
    0 13px 21px 0 rgba(0, 0, 0, 0.15), 
    0 4px 16px 0 rgba(26, 230, 218, 0.33), 
    0 4px 16px 0 rgba(0, 0, 0, 0.09), 
    0 3px 9px 0 rgba(26, 230, 218, 0.09), 
    0 3px 9px 0 rgba(0, 0, 0, 0.09), 
    0 3px 3px 0 rgba(26, 230, 218, 0.09), 
    0 3px 3px 0 rgba(0, 0, 0, 0.17);
  --dark-blue-btn-bg: linear-gradient(90deg, #646c92 0%,#5f2966 100%);
  --login-blue-btn-bg: linear-gradient(135deg, #582c7e 0%,#6a7ec7 100%);
  --dark-blue-shadow:  
    0 7px 9px 0 rgba(142, 117, 222, 0.15),
    0 13px 21px 0 rgba(20, 80, 204, 0.27), 
    0 13px 21px 0 rgba(0, 0, 0, 0.15), 
    0 4px 16px 0 rgba(102, 145, 233, 0.33), 
    0 4px 16px 0 rgba(0, 0, 0, 0.09), 
    0 3px 9px 0 rgba(53, 103, 205, 0.09), 
    0 3px 9px 0 rgba(0, 0, 0, 0.09), 
    0 3px 3px 0 rgba(102, 145, 233, 0.09), 
    0 3px 3px 0 rgba(0, 0, 0, 0.17);
  --dark-blue-shadow-hover:  
    0 0px 7px 0 rgba(31, 28, 32, 0.25),
    0 7px 9px 0 rgba(100, 115, 151, 0.15), 
    0 13px 21px 0 rgba(20, 80, 204, 0.27), 
    0 13px 21px 0 rgba(0, 0, 0, 0.15), 
    0 4px 16px 0 rgba(102, 145, 233, 0.33), 
    0 4px 16px 0 rgba(0, 0, 0, 0.09), 
    0 3px 9px 0 rgba(53, 103, 205, 0.09), 
    0 3px 9px 0 rgba(0, 0, 0, 0.09), 
    0 3px 3px 0 rgba(102, 145, 233, 0.09), 
    0 3px 3px 0 rgba(0, 0, 0, 0.17);
}