.carousel
  frame-item(*ngFor="let frame of framesList; let i = index", [frame]="frame", [frameIndex]="i")
  button.new_frame_btn(type="button", (click)="onNewFrameBtnClick()")
    icon.btn_icon(name="plus")
    | Add new frame